@charset "utf-8";
body{
	max-width: 1500px;
	margin: 0 auto;
}

header{
    background-image: url(Images/Cover3.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.title{
    text-align: center;
    padding-top: 3%;
}

header h1{
	color: #CC7300;
	font-size: 70px;
	font-style: italic;
	margin: 0;
}

header h2{
	color: white;
	font-size: 70px;
	margin: 0;
}

.pictures{
	display: flex;
	margin: 40px 150px 40px 50px;
}

.left-img{
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    margin: 6px;
}

.left-img img{
	width: 180px;
	height: 120px;
}

.right-img img{
	margin: 6px;
	width: 150px;
	height: 250px;
}

article{
	display: flex;
	align-items: center;
	margin-right: 50px;
}

.intro h1{
	color: #CC7300;
	font-size: 40px;
	font-style: italic;
	margin: 0;
}

.intro h2{
	font-size: 23px;
	font-weight: 700;
	margin: 10px 0;
}

.brunch-menu{
	background-color: grey;
	margin: 40px 13%;
}

section{
	text-align: center;
}

section h1{
	color: #CC7300;
	font-size: 25px;
	font-style: italic;
	margin: 0;
	padding-top: 20px;
}

section h2{
	font-size: 25px;
	font-weight: 700;
	margin: 15px;
}

section p{
	margin: 0;
}

.menu{
	display: flex;
	justify-content: space-around;
	margin: 20px;
	padding-bottom: 50px;
}
.Menu2 {
    text-align: center;
    height: 65px;
    font-size: large;
    padding-left: 16px;
    padding-top: 18px;
    padding-right: 16px;
    color: rgba(255,255,255,1.00);
    word-spacing: 12px;
    text-transform: capitalize;
    white-space: normal;
    font-weight: bold;
    text-shadow: 0px 0px rgba(255,255,255,1.00);
    margin-top: 6px;
}
.Menu2 .active {
    color: rgba(255,255,255,1.00);
}
.Menu2 a {
    color: rgba(255,255,255,1.00);
}

nav {
    background-color: rgba(223,214,215,0.70);
}

.ending{
    text-align: center;
    margin: 60px 0;
    padding-bottom: 28px;
}

.ending h1{
	color: #CC7300;
	font-size: 25px;
	font-style: italic;
}

footer{
	background-color: black;
	padding: 40px;
}
